{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Library Login</title>
  <link rel="stylesheet" href="{% static 'loginstyle.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />
  <!-- dancing script font -->
</head>
<body>
  <div class="container">
    <div class="left">
      <div class="logo-text">
        LibSys:<br />
        A Library<br />
        Management System
      </div>
    </div>

    <div class="right">
      <h2>Welcome Back</h2>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" name="username" id="email" required />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />

        <button type="submit">Login</button>

        <div class="link-group">
          <p>New user? <a href="{% url 'register' %}">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
